<!doctype html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css" rel="stylesheet">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<title>{% block title %}WargameJS{% endblock title %}</title>
		{% endblock head %}
	</head>
	<body>
		{% block body %}
			{% block navbar %}
			<nav class='navbar navbar-default navbar-fixed-top'>
				<div class='container'>
					<div class='navbar-header'>
						<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
							<span class='sr-only'>Toggle navigation</span>
							<span class='icon-bar'></span>
							<span class='icon-bar'></span>
							<span class='icon-bar'></span>
						</button>
						<a class='navbar-brand' href=''>WargameJS</a>
					</div>
					<div id='navbar' class='navbar-collapse collapse'>
						<ul class='nav navbar-nav'>
							<li class='Tournaments'>
								<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Uniteditor <span class='caret'></span></a>
								<ul class='dropdown-menu'>
									<li><a href='/deck'>Deck</a></li>
									<li><a href='/group'>Group</a></li>
									<li><a href='/unit'>Unit</a></li>
									<li><a href='/weapon'>Weapon</a></li>
								</ul>
							</li>
							<li><a href='/matches'>Matches</a></li>
						</ul>
						{% if loggedin %}
							<ul class='nav navbar-right'>
								<li><a href='/logout'>Logout</a></li>
							</ul>
						{% else %}
							<ul class='nav navbar-right'>
								<li><a href='/register'>Register</a></li>
							</ul>
							<form class='navbar-form navbar-right' action='/login' method='post'>
								<div class='form-group'>
									<input type='text' placeholder='User' class='form-control' name='user'>
								</div>
								<div class='form-group'>
									<input type='password' placeholder='Password' class='form-control' name='password'>
								</div>
								<button type='submit' class='btn btn-success'>Login</button>
							</form>
						{% endif %}
					</div>
				</div>
			</nav>
			{% endblock navbar %}
			{% block bodyscripts %}
			<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
			<script src='static/js/bootstrap.min.js'></script>
			<script src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js'></script>
			<script src='https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js'></script>
			{% endblock bodyscripts %}
		{% endblock body %}
	</body>
</html>
