{% extends "base.html" %}
{% block bodycontent %}
		<div class="container">
			<form class="form-horizontal">
				<div class="form-group" id="nameBlock">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" required="required"/><br/>
				</div>
				<div class="form-group" id="unitBlock">
					<input type="button" onclick="addUnit()" value="Add Unit"/>
					<select name="unit" id="unit">
					</select>
				</div>
				<div class="form-group" id="unitsBlock">
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input type="number" name="price" id="price" readonly="readonly"/><br/>
				</div>
				<div class="form-group">
					<input type="button" onclick="save()" value="Save"/><br/>
					<input type="button" onclick="del()" value="Delete"/><br/>
					<div id="success" class="alert alert-success" role="alert">
						<strong>Success</strong>
					</div>
					<div id="error" class="alert alert-danger" role="alert">
						<strong>Failed</strong>
					</div>
				</div>
			<form>
		</div>
{% endblock bodycontent %}
{% block bodyscripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/core.js"></script>
		<script src="static/ui.js"></script>
		<script>
			var db;
			let allBlocks = ["nameBlock"];
			let allValues = ["price","name"];
			function init()
			{
				hide(["success","error"]);
				document.getElementById("price").value = "0";
				window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
				window.IDBTransaction = window.IDBTransaction || window.webkitIDBTransaction || window.msIDBTransaction;
				window.IDBKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange || window.msIDBKeyRange;
				initDB(function(event)
				{
					db = event.target.result;
					listUnits(function(units)
					{
						let selectElement = document.getElementById("unit");
						for (let i=0; i<selectElement.length; i++)
						{
							selectElement.remove(i);
						}
						for (let unit of units)
						{
							//TODO filter units
							let option = document.createElement("option");
							option.value = unit;
							option.innerHTML = unit;
							selectElement.appendChild(option);
						}
						let name = gup("name");
						if (name && name != "")
						{
							let req = db.transaction(["groups"]).objectStore("groups").get(name);
							req.onerror = function(event)
							{
								alert("DatabaseError");
							};
							req.onsuccess = function(event)
							{
								if (req.result)
								{
									load(req.result);
								}
								else
								{
									alert("Unknown group.");
								}
							};
						}
					});
				});
			}
			init();
			function addUnit()
			{
				let unit = document.getElementById("unit").value;
				let units = document.getElementById("unitsBlock");
				let div = document.createElement("div");
				let label = document.createElement("label");
				label.value = unit;
				label.innerHTML = unit;
				let button = document.createElement("input");
				button.type = "button";
				button.value = "Remove";
				button.onclick = function()
				{
					let unit = this.parentNode.firstChild.value;
					this.parentNode.parentNode.removeChild(this.parentNode);
					let req = db.transaction(["units"]).objectStore("units").get(unit);//TODO recalc price
					req.onsuccess = function(event)
					{
						if (req.result)
						{
							let price = parseInt(document.getElementById("price").value);
							price -= req.result.price;
							document.getElementById("price").value = ""+price;
						}
					};
				};
				div.appendChild(label);
				div.appendChild(button);
				units.appendChild(div);
				let req = db.transaction(["units"]).objectStore("units").get(unit);//TODO recalc price
				req.onsuccess = function(event)
				{
					if (req.result)
					{
						let price = parseInt(document.getElementById("price").value);
						price += req.result.price;
						document.getElementById("price").value = ""+price;
					}
				};
			}
			function load(group)
			{
				console.log("load "+JSON.stringify(group));
				document.getElementById("price").value = group.price;
				document.getElementById("name").value = group.name;
				loadUnits(group.units, 0);
			}
			function loadUnits(units, price)
			{
				let unit = units.shift();
				let req = db.transaction(["units"]).objectStore("units").get(unit);
				req.onsuccess = function(event)
				{
					if (req.result)
					{
						price += req.result.price;
						let unitsElement = document.getElementById("unitsBlock");
						let div = document.createElement("div");
						let label = document.createElement("label");
						label.value = unit;
						label.innerHTML = unit;
						let button = document.createElement("input");
						button.type = "button";
						button.value = "Remove";
						button.onclick = function()
						{
							let unit = this.parentNode.firstChild.value;
							this.parentNode.parentNode.removeChild(this.parentNode);
							let req = db.transaction(["units"]).objectStore("units").get(unit);//TODO recalc price
							req.onsuccess = function(event)
							{
								if (req.result)
								{
									let price = parseInt(document.getElementById("price").value);
									price -= req.result.price;
									document.getElementById("price").value = ""+price;
								}
							};
						};
						div.appendChild(label);
						div.appendChild(button);
						unitsElement.appendChild(div);
						if (units.length > 0)
						{
							loadUnits(units, price);
						}
						else
						{
							document.getElementById("price").value = price;
						}
					}
				};
			}
			function save()
			{
				let group = new DBGroup();
				let units = [];
				group.name = document.getElementById("name").value;
				group.price = document.getElementById("price").value;
				let unitsElement = document.getElementById("unitsBlock");
				for (let i=0; i<unitsElement.childNodes.length; i++)
				{
					if (unitsElement.childNodes[i].firstChild)
					{
						let unit = unitsElement.childNodes[i].firstChild.innerHTML;
						units.push(unit);
					}
				}
				group.units = units;
				console.log("save "+JSON.stringify(group));
				hide(["error"]);
				hide(["success"]);
				let rename = false;
				let name = gup("name");
				if (name && name != "")
				{
					if (name != unit.name)
					{
						rename = true;
					}
				}
				if (rename)
				{
					let request = db.transaction(["groups"], "readwrite").objectStore("groups").delete(name);
					request.onerror = function(event)
					{
						show(["error"]);
						setTimeout(function()
						{
							hide(["error"]);
						}, 1000);
					};
					request.onsuccess = function(event)
					{
						let req = db.transaction(["groups"], "readwrite").objectStore("groups").put(group);
						req.onerror = function(event)
						{
							show(["error"]);
							setTimeout(function()
							{
								hide(["error"]);
							}, 1000);
						};
						req.onsuccess = function(event)
						{
							show(["success"]);
							setTimeout(function()
							{
								hide(["success"]);
								location.search = "?name="+group.name;
							}, 1000);
						};
					};
				}
				else
				{
					let request = db.transaction(["groups"], "readwrite").objectStore("groups").put(group);
					request.onerror = function(event)
					{
						show(["error"]);
						setTimeout(function()
						{
							hide(["error"]);
						}, 1000);
					};
					request.onsuccess = function(event)
					{
						show(["success"]);
						setTimeout(function()
						{
							hide(["success"]);
							location.search = "?name="+group.name;
						}, 1000);
					};
				}
			}
			function del()
			{
				let name = gup("name");
				if (name && name != "")
				{
					let request = db.transaction(["groups"], "readwrite").objectStore("groups").delete(name);
					request.onerror = function(event)
					{
						show(["error"]);
						setTimeout(function()
						{
							hide(["error"]);
						}, 1000);
					};
					request.onsuccess = function(event)
					{
						show(["success"]);
						setTimeout(function()
						{
							hide(["success"]);
						}, 1000);
					};
				}
			}
		</script>
{% endblock bodyscripts %}
